:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --gris4: #d2d6df;
  --gris5: #a3a6ac;
  --negro: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
} 

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}

body {
  min-height: 100%;
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);  
}


/* Titulos */
h1{
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 2rem 0;
  text-align: center;
  color: var(--gris2);
  font-size: 3rem;
}
h1 span {
  font-weight: 400;
}
h1.span1 {
  margin-top: 10rem;
  color: var(--blanco);
}
h6{
  font-family: var(--headingFont);
  font-weight: 900;
  margin:0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--gris2);
  font-size: 3rem;
}
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  text-align: center;
  color: var(--gris2);
  font-size: 2.4rem;
  margin-top:0.5rem;
}
h2 span {
  font-weight: 400;  
}
h2.span2 {
  margin-bottom:0.5rem; 
}
h4 {
  color: var(--blanco);
  font-size: 5rem;
  font-family: var(--headingFont);
  font-weight: 900;  
}
h5 {
   font-family: var(--textFont);
   font-size:2rem; 
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
  margin-bottom: 1rem;
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
}
.btn-blank:hover {
  background-color: var(--gris3);
}
.cerrar-sesion {
  color: var(--blanco);
}
.btn-datos{
  background-color: var(--gris4);
}
.btn-datos:hover {
  background: var(--gris5);
}
.btn1 {
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  color: white;
  font-weight: 500;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn1-cerrar{
  background-color:#4b5870;
  margin-right: 4rem;
  margin-left: 2rem;
}
.btn1-cerrar:hover{
  background-color:black;
}

/* BARRA LATERAL */
.formulario-nuevo-proyecto {
  margin-left:2rem ;
  margin-right: 2rem;
}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-nuevo-proyecto .input-text::placeholder{
  color: var(--gris2);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 50%;
}
.input-val{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
}
.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  -moz-box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
  box-shadow: 0px 4px 10px -3px rgba(117,117,117,1);
}
.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}

/* Mensaje error*/
.estado {
  margin-right: 1rem;
}
.estado button, 
.mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}
.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.mensaje:hover {
  cursor: default;
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}
.alerta {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}

/* Contenedores */
.form-usuario {
    background-color: var(--gris2);
    display: flex;
    align-items: center; 
    justify-content: center;
}
.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--blanco);
    border-radius: 1rem;
}
.campo-form {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    margin-top: 1rem;
}
.campo-form:last-of-type {
  margin: 0;
}
.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.campo-form input[type="password"],
.campo-form input[type="email"], 
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}
.contenedor {
  background-color: var(--gris2);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:  "titulo titulo titulo"
                        "login login login"
                        "footer footer footer"
						 ;
}
.contenedor .titulo{  
  grid-area: titulo;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.contenedor .login{
  grid-area: login;
}
.contenedor .footer{
  grid-area: footer;
  display: flex;
  align-items: end;  
}
.contenedorLab{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr;
  /* grid-template-rows: 200px 200px  200px  200px  200px 200px ; */
  grid-template-rows: 150px 90px 1fr 1fr;
  grid-template-areas:  "barraSup barraSup barraSup barraSupTi"
                        "barraLat graf graf graf"
                        "barraLat graf graf graf"
                        "barraLat graf graf graf"                     
						 ;
}
.contenedorLab .barraSup{
  grid-area: barraSup;
  background-color: var(--gris2); 
  display: flex;
  align-items: center;
}
.contenedorLab  .barraSupTi{
  grid-area: barraSupTi;
  background-color: var(--gris2); 
  display: flex;  
  align-items: center;
}
.contenedorLab .barraLat{
  grid-area: barraLat;
  background-color: var(--blanco);  
}
.contenedorLab .graf{
  grid-area: graf;
  background-color: var(--gris1);  
}
.val{  
  padding: 1rem;
  border-radius: .5rem;
  display: flex;   
}
.margen{
  margin-left:85%;
  margin-top:2rem;
}

.nombre-usuario{
  font-weight: 900;
  color: var(--blanco);
  font-size: 3rem;
  margin-left: 2rem;
}
.form-practica{
  margin-left: 2rem;  
}

/* Grafica */
.graficaval{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.grafica{
  margin-top: 3rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
   .contenedorLab{
    grid-template-areas:  "barraSup barraSup barraSupTi barraSupTi"
                          "barraSup barraSup barraSupTi barraSupTi"
                          "barraLat barraLat barraLat barraLat"                   
                          "graf graf graf graf"                    
;
  } 
}

@media screen and (max-width: 480px) {
  .contenedorLab{
    grid-template-areas:  "barraSup barraSup barraSup barraSup"
                          "barraSupTi barraSupTi barraSupTi barraSupTi"
                          "barraLat barraLat barraLat barraLat"
                          "graf graf graf graf"                         
                     
;
  }
}

select{
  background:var(--gris1);
  flex:4;
  padding: 0.7rem;
  color:rgb(0, 0, 0);
  cursor:pointer;
}

.pdf{
  margin-left: 2rem;
}

.check{
  margin-left: 1rem;
}

